<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/a.css">
    <title>Document</title>
</head>
<body>
    뉴스 URL을 입력하세요 : <input type="text" name="urlInput">
    <div>
        <span class="title"> {{title}}</span>
        <br><br><br>

        {% for i in range(lenstr) %}
                {{data_str[i][:span_input[i][0]]}}<span class="blue">{{data_str[i][span_input[i][0]:span_input[i][1]+1]}}</span>{{data_str[i][span_input[i][1]+1:]}}.<br>
        {% endfor %}
    </div>
</body>
</html>