<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/resultPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <title>Pinocchio</title>
</head>

<body>
    <div class="first">
        <div class="firstheader">
            <div class="firstheaderleft">
               

                <p>NewsBigData<br>Hackathon</p>
            </div>
            <div class="firstheadercenter">
                <p>News Article &nbsp;&nbsp;&nbsp;&nbsp; Algorithm &nbsp;&nbsp;&nbsp;&nbsp; About us
                    &nbsp;&nbsp;&nbsp;&nbsp; Portfolio </p>
            </div>
            <div class="firstheaderright">
                <p>Login &nbsp;&nbsp; Join</p>
            </div>
        </div>
        <div class="firstbody">
            <div style="height: 15vh;"></div>
            <div class="center">
                <p>Pinocchio</p>
            </div>
            <div class="bottom" style="height: 15vh; display:flex;  font-size:3vh;">
                <p style="font-family: 'Noto Serif KR', serif;">" 정확한 보도, 신뢰받는 저널리즘 "</p>
            </div>
            <div style="height: 5vh;"></div>
            <form method="get" action="/urlCrawler">
                <input type="text" name="urlInput" placeholder = {{url}}>
            </form>
        </div>
        <div style="height: 12vh;"></div>
        <div id = 'later' class="firstheader later" style="opacity: 0;">
            <div class="firstheaderleft">
                <p>NewsBigData<br>Hackathon</p>
            </div>
            <div class="firstheadercenter">
                <p>News Article &nbsp;&nbsp;&nbsp;&nbsp; Argolithm &nbsp;&nbsp;&nbsp;&nbsp; About us
                    &nbsp;&nbsp;&nbsp;&nbsp; Portfolio </p>
            </div>
            <div class="firstheaderright">
                <p>Login &nbsp;&nbsp; Join</p>
            </div>
        </div>
    </div>
    <div class="second" style="display: flex;">
        <div class="secondleft">
            <div class="articleIn">
                <div class="article">
                    <span class="title" style="font-size: 30px; font-weight: bold;"> {{title}}</span>
                    <br><br><div style="border: 1px solid #999999;"></div><br>
                    {% for i in range(lenstr) %}
                        {%if span_input[i][1] == 0 and h_span_input[i][1] == 0%}
                            {{data_str[i]}}.<br>
                        {%elif span_input[i][1] != 0 and h_span_input[i][1] == 0%}
                            <span style="color : blue;">{{data_str[i][:span_input[i][0]+1]}}<span class="blue">{{data_str[i][span_input[i][0]+1:span_input[i][1]+2]}}</span>{{data_str[i][span_input[i][1]+2:]}}.<br></span>
                        {%elif span_input[i][1] == 0 and h_span_input[i][1] != 0%}
                            {{data_str[i][:h_span_input[i][0]+1]}}<span class="red">{{data_str[i][h_span_input[i][0]+1:h_span_input[i][1]+2]}}</span>{{data_str[i][h_span_input[i][1]+2:]}}.<br>
                        {% else %}
                            {%if span_input[i][1] < h_span_input[i][1]%}
                                <span style="color : blue;">{{data_str[i][:span_input[i][0]+1]}}<span class="blue">{{data_str[i][span_input[i][0]+1:span_input[i][1]+2]}}</span>{{data_str[i][span_input[i][1]+2:h_span_input[i][0]+1]}}<span class='red'>{{data_str[i][h_span_input[i][0]+1:h_span_input[i][1]+2]}}</span>{{data_str[i][h_span_input[i][1]+2 :]}}.<br></span>
                            {%else%}
                                <span style="color : blue;">{{data_str[i][:h_span_input[i][0]+1]}}<span class="red">{{data_str[i][h_span_input[i][0]+1:h_span_input[i][1]+2]}}</span>{{data_str[i][h_span_input[i][1]+2:span_input[i][0]+1]}}<span class='blue'>{{data_str[i][span_input[i][0]+1:span_input[i][1]+2]}}</span>{{data_str[i][span_input[i][1]+2 :]}}.<br></span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="secondright">
            <div class="righttop">
                <div class="rightcontent">
                    <div>이 기사는</div>
                    <div>
                        <div><span class ='blue'>추측성</span> 문장을 약 <span id = "a"> </span> </div>
                        <div><span class = 'red'> 자극적</span> 표현을 약 <span id = 'b'> </span> </div>
                    </div>
                    <div style="margin-left: 2vw;"> 사용합니다</div>

                    </div>
                <div class="chartbox" style="display: flex; padding: 10px;"></div>
                <div style="display: inline-block;">
                <div style="float:left;">
                    <div id = "chart2" class="chart chart2">
                    <div class="chart-bar2" data-deg="50"></div>
                </div>
                <div style="float:left;">
                    <div class="chart chart1">
                    <div class="chart-bar" data-deg="50"></div>
                </div>
                </div>
            </div>

        </div>
        <div style="display: flex;"> 
        <div style="margin:0 3vw;margin-left: 6vw;"><span style="color : #18176c;">{{transparency_Ratio}}% █</span><br><span style="color: #5569e3;">{{Other_transparency_Ratio}}% █</span></div>
        <div style="text-align: center; font-weight: bolder;"> 지금 기사<br> 유사 기사 평균 </div>
        <div style="margin:0 3vw;"><span style="color: #ff0000;">█ {{hazard_Ratio}}</span>개<br><span style="color : #ffa900;">█ {{Other_hazard_Ratio}}</span>개</div>
         </div>

        <div class="other">1. {{Other_title_list[0]}}</div>
        <div class="other">2. {{Other_title_list[1]}}</div>
        <div class="other">3. {{Other_title_list[2]}}</div>

    </div>

</body>

<script>

    var a = {{transparency_Ratio}};
    var b = {{Other_transparency_Ratio}};
    var first = 0;
    var later = 0;
    var firstColor = '';
    var laterColor = '';
    if(a > b){
        var str = parseInt(a - b) + "% 많이";
        first = (b/100*360);
        later = ((a-b)/100*360) + first;
        firstColor = '#5569e3 ';
        laterColor = '#18176c ';
    }
    else{
        var str = parseInt(b - a) + "% 적게";
        first = (a/100*360);
        later = ((b-a)/100*360) + first;

        firstColor = '#18176c ';       
        laterColor = '#5569e3 ';
    }

    var _chart1 = document.getElementsByClassName('chart1')[0];
    _chart1.style.background = 'conic-gradient('+firstColor + first + 'deg, '+ laterColor + first +'deg '+ later + 'deg, #a0a0a0 0deg )';

    var ha = {{hazard_Ratio}};
    var hb = {{Other_hazard_Ratio}};
    var hfirst = 0;
    var hlater = 0;
    var hfirstColor = '';
    var hlaterColor = '';
    if(ha > hb){
        var hstr = (ha-hb).toFixed(1) + '개 많이';
        hfirst = (hb/12*360);
        hlater = ((ha-hb)/12*360) + hfirst;
        hlaterColor = '#ff0000 ';
        hfirstColor = '#ffa900 ';

    }
    else{
        var hstr = (hb-ha).toFixed(1) + '개 적게';
        hfirst = (ha/12*360);
        hlater = ((hb-ha)/12*360) + hfirst;
        hfirstColor = '#ff0000 ';
        hlaterColor = '#ffa900 ';
    }

    var _chart2 = document.getElementById('chart2');
    _chart2.style.background = 'conic-gradient('+ hfirstColor + hfirst + 'deg, '+ hlaterColor + hfirst +'deg '+ hlater + 'deg, #a0a0a0 0deg )';
    

    document.getElementById('b').innerHTML += hstr;

    document.getElementById('a').innerHTML += str;
</script>

<script>
function onLinkClick() {
}

    setTimeout(function() {
        window.scrollTo({top:1000,behavior:"smooth"});
        var later = document.getElementById('later');
        later.style.opacity = '1';
        later.style.transition = 'all 2s';
}, 500);
</script>

</html>