<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/startPage.css">

    <title>Document</title>
</head>
<body>
    <div class="first">
        <div class="firstheader">
            <div class="firstheaderleft">
                <p>NewsBigData<br>Hackathon</p>
            </div>
            <div class="firstheadercenter">
            <p>News Article &nbsp;&nbsp;&nbsp;&nbsp; Argolithm &nbsp;&nbsp;&nbsp;&nbsp; About us &nbsp;&nbsp;&nbsp;&nbsp; Portfolio </p>
            </div>
            <div class="firstheaderright">
                <p>Login &nbsp;&nbsp; Join</p>
            </div>
        </div>
        <div class="firstbody">
                <div style="height: 15vh;"></div>
                <div class="center"><p>Pinocchio</p></div>
                <div class="bottom"style="height: 15vh; display:flex;"><p>여기다가 뭐라써야될지 모르겠지만 일단은 이런식을 채워서 나중에 확인해봄</p></div>
                <div style="height: 5vh;"></div>
                <form method="get" action="/urlCrawler">
                <input type="text" name="urlInput">
            </form>
        </div>
    </div>

</body>
</html>