html{
}


.blue{
    color: blue;
    font-weight: bold;
}

div{
    border : 1px solid black;
    width: 500px;
    color: white;
}

.title{
    font-size: larger;
    font-weight: bold;
}